@media (max-width: 767px) {
    .nav {
        padding: 12px 30px;
    }

    header .nav .logo {
        font-size: 20px;
        margin: 0;
    }

    header .nav .menu-icon {
        display: block;
        font-size: 24px;
        color: #000;
    }

    header .nav .menu {
        display: none;
    }

    header .nav .menu.active {
        display: block;
        position: fixed;
        top: 50px;
        width: 100%;
        left: 0;
        padding: 25px 30px;
    }

    header .nav .menu li {
        margin-bottom: 20px;
    }

    .intro {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .intro img {
        width: 100%;
    }

    .intro-content {
        padding: 15px;
        width: 100%;
    }

    .intro-content h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .intro-content p {
        width: 100%;
        padding: 10px;
        margin-bottom: 0;
    }

    .divisions .cards {
        background: linear-gradient(0deg, rgba(93, 100, 140, 1)10%, rgba(226, 152, 127, 1) 80%), rgb(154, 166, 235) 30%;
        flex-wrap: wrap;
    
    }

    .divisions .cards .card {
        border: 1px solid #000;
        width: 100%;
        height: 240px;
        margin-bottom: 15px;
    }

    .divisions .cards .card:last-child {
        margin-bottom: 0px
    }

    .divisions .card h1 {
        font-size: 20px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }

    .divisions .card a {
        font-size: 15px;
        color: #0d6efd;
        line-height: 33px;
    }

    .divisions .card a:hover {
        color: #0a58ca;
    }

    .divisions .card p {
        overflow-y: hidden;
    }

    /* Start Our-Work Section */
    .our-work {
        height: 100%;
        margin-top: 35px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .our-work p {
        padding: 20px;
        margin-bottom: 0;
    }

    .our-work .gallery {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 35px;
    }

    .our-work .gallery img {
        width: 100%;
        height: 300px;
        margin-bottom: 18px;
        transition: .2s;
    }

    .our-work .gallery img:hover {
        transform: scale(1.05);
    }

    .contacts .info {
        display: contents;
    }

    .contacts .head h1::after {
        width: 100px;
    }

    .contacts .footer-message p {
        line-height: 30px;
    }
    .contacts .footer-message p span{
        display: block;
    }

}